@font-face {
  font-family: "Wotfard";
  src: local("Wotfard"), url('./assets/fonts/Wotfard-Regular.otf') format("opentype");
}

body {
  font-family: "Wotfard";
}

#wrapper {
  padding: 2.5vh 0 2.5vh;
  height: 95vh;
  width: 90vw;
}

header {
  background-color: rgb(100, 100, 148);
  width: 30%;
  height: 100%;
  float: left;
}

#selfie-img {
  width: 100%;
  max-width: 400px;
  border-radius: 2em;
}

main {
  background-color: rgb(101, 103, 190);
  float: right;
  width: 70%;
  height: 100%;
}

.container {
  margin: 2em 5% 2em 5%;
}

table {
  padding: 6em 5% 6em 5%;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  max-width: 30vh;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
}

.project-image {
  max-width: 10em;
  height: auto;
}
