@font-face {
  font-family: "Wotfard";
  src: local("Wotfard"), url('./assets/fonts/Wotfard-Regular.otf') format("opentype");
  
}

body {
  font-family: "Wotfard";
  background-color: rgb(255, 255, 255);
  color: #071b41;
}

.text-anchor {
  padding: .1em;
  background-color: rgb(255, 255, 255);
  border-radius: .25em;
  text-decoration: none;
  color: #77b8ec;
  font-size: large;
}

.text-anchor:hover {
  background-color: #77b8ec;
  color: rgb(244, 249, 255);;
}

header > div > h1 {
  color: #071b41;
}

#wrapper {
  margin: 2vh 0 2vh;
  height: 95vh;
  width: 90vw;
  border-radius: 2.75em 2.75em 2.75em 2.75em;
  border: 10px solid #77b8ec;
}

#image-container {
  display: flex;
  justify-content: center;
}

.icon-anchor {
  max-width: 3em;
  height: auto;
  margin: 0em 1em 0em 1em;
}

header {
  background-color: #b6cfe4;
  width: 30%;
  height: 100%;
  float: left;
  border-radius: 2em 0 0 2em;
}

#selfie-img {
  width: 100%;
  max-width: 400px;
  border-radius: 25% 5%;
  border: 4px solid white;
}

main {
  background-color: #ddeaf3;
  float: right;
  width: 70%;
  height: 100%;
  border-radius: 0% 2em 2em 0%;
}

.container {
  margin: 2em 5% 2em 5%;
}

table {
  padding: .5em 1em .5em 1em;
  margin: .5em .5em .5em .5em;
  background-color: rgb(244, 249, 255);
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 30vh;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
}

.project-image {
  padding: .25em;
  border-radius: 1em;
  max-width: 10em;
  height: auto;
  background-color: #b6cfe4;
}
